body{
    margin:0;
}
a {
    color: black;
    text-decoration: none;
}
h1{
      font-size:45px;
      border-bottom:black solid 5px;
      text-align:center;
      margin:30px;
      padding-bottom:30px;
      padding-top: 0;
      margin-bottom:0;
}
p {
text-indent: 30px;
text-transform: uppercase;
}
ul{
    border-right: black solid 3px;
    font-size: 25px;
    width: 200px;
    margin:0;
    padding: 16px;
    padding-left: 60px;
}
h3{
    display: inline;
    font-size: 35px;
}
#grid1{
    display:grid;
    grid-template-columns: 294.8px 1fr;
}
#page{
    padding:30px;
}
@media(max-width:862px){
    #grid1{
        display:block;
    }
    ul{
        border-right:none;
    }
}
@media(max-width:589px){
    #page{
        display:none
    }
}